<div class="megatron">
  <div class="row" id="megatron">
    <div class="col-md-12">
    </div>
  </div>

  <div class="vagabond">
    <div class="row" id="vagabond">
      <div class="col-md-12">
        <h1>Vagabond</h1>
      </div>
    </div>
  </div>

  <div class="row" id="text">
    <div class="col-md-12">
      <p>...your personal travel guide.<p>
    </div>
  </div>
</div>

<div class="row" id="paragraph">
  <div class="col-md-12">
    <p>something something something<p>
  </div>
</div>
<hr>

<div class="row" id="city-post">
  <div class="col-md-12">
    <h3>Pick a city to review:<h3>
  </div>
</div>

<div class="cities">
  <% @cities.each do |city| %>
    <p>
      <strong><%= link_to city.name, city_path(city) %></strong><br>
    </p>
  <% end %>
</div>
<hr>
<div>

</div>
