<div class="col-md-6">

<%= form_for @post, url: create_post_path(params[:id]), html: {class: "form-horizontal"} do |f| %>

   <%= f.text_field :title, placeholder: "Title", class: "form-control" %><br />
   <%= f.text_area :content, placeholder: "Post Content", class: "form-control" %><br />
   <%= f.submit "Submit Post" %>
   <% end %>

</div>
